body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* MainLanding.js */
.dummy-div {
  padding: 10px;
}
.main-header {
  background-image: linear-gradient(45deg, #744ce6, #5092be);
}
.homepage-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(45deg, #582dce, #3382b8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.hide-loader {
  opacity: 0;
  display: none;
}
.homepage-footer {
  background-image: linear-gradient(45deg, #582dce, #3382b8);
}
.homepage-footer-bar {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-header .heading-title {
  font-size: 60px;
  transition: all 0.3s ease;
}

.main-heading-container {
  padding: 130px 0px;
}

.features-container {
  padding: 50px 80px !important;
}

/* FAQ */
.accordion-body {
  background-color: #f7f7f7;
}

/* Carousel */
.carousel-inner {
  background: #f5f5f5;
}
.carousel-block {
  min-height: 320px;
}

.carousel-image {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}
/* SignIn Page */

/* Media Queries */
@media (max-width: 1130px) {
  .dummy-div {
    padding: 20px;
  }
}

@media (max-width: 1010px) {
  .main-header .heading-title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .main-heading-container {
    padding: 80px 0px;
  }
  .features-container {
    padding: 50px 60px !important;
  }
  .carousel-block {
    min-height: 350px;
  }
}

@media (max-width: 580px) {
  .features-container {
    padding: 50px 40px !important;
  }
}

@media (max-width: 389px) {
  .features-container {
    padding: 50px 50px;
  }
  .main-header .heading-title {
    font-size: 41px;
    transition: all 0.3s ease;
  }
  .carousel-block {
    min-height: 380px;
  }
}

@media (max-width: 328px) {
  .main-header .heading-title {
    font-size: 35px;
    transition: all 0.3s ease;
  }
  .main-header .homepage-header-btn {
    width: 100px;
  }
}
