* {
  user-select: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* MainLanding.js */
.dummy-div {
  padding: 10px;
}
.main-header {
  background-image: linear-gradient(45deg, #744ce6, #5092be);
}
.homepage-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: linear-gradient(45deg, #582dce, #3382b8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.hide-loader {
  opacity: 0;
  display: none;
}
.homepage-footer {
  background-image: linear-gradient(45deg, #582dce, #3382b8);
}
.homepage-footer-bar {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-header .heading-title {
  font-size: 60px;
  transition: all 0.3s ease;
}

.main-heading-container {
  padding: 130px 0px;
}

.features-container {
  padding: 50px 80px !important;
}

/* FAQ */
.accordion-body {
  background-color: #f7f7f7;
}

/* Carousel */
.carousel-inner {
  background: #f5f5f5;
}
.carousel-block {
  min-height: 320px;
}
/*Sign In*/

.carousel-image {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

/* Group Page */
.grouppage-main-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-container {
  flex: 0.4;
  height: 88.6vh;
  background-color: #f5f5f5;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
  z-index: 10;
}
.list-group-item {
  height: 60px;
  color: #000;
  border-radius: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.list-group-item-light.list-group-item-action:focus,
.list-group-item-light.list-group-item-action:hover {
  color: #000;
  background-color: #e6ddff;
}

.icons {
  vertical-align: middle;
  font-size: 27px;
  margin-bottom: 10px;
  margin-right: 13px;
}

/* Contents Container */
.contents-container {
  flex: 1.6;
  height: 88.6vh;
  background-color: #f5f5f5;
  transition: all 0.5s ease-in-out;
}
.content-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-content-container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
}

/* Default Group Content Page */
.default-content-title {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 60px;
  font-size: 80px;
  color: #c5c5c5;
  font-weight: 600;
  transition: all 0.3s ease;
}
.contents-default-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  padding: 0px 10px;
}

/* Chat Group Page */
.chat-container {
  height: 100%;
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat-contents-container {
  width: 100%;
  background-color: #f5f5f5;
  flex: 1.77;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
}

.chat-send-container {
  display: flex;
  width: 100%;
  flex: 0.23;
  background-color: #333;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.chat-box {
  width: 100%;
  /* background-color: #333; */
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.chat-box-item {
  width: 250px;
  border-radius: 3px;
}

.chat-box-item .chat-username {
  padding: 0px 5px;
  background-color: #8a66ec;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.chat-box-item .chat-msg {
  padding: 5px;
  background-color: #ccbdf7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.chat-input-group textarea {
  resize: none;
}

/* Media Queries */
@media (max-width: 1130px) {
  .dummy-div {
    padding: 20px;
  }
}

@media (max-width: 1010px) {
  .main-header .heading-title {
    font-size: 50px;
  }
  .sidebar-container {
    flex: 0.5;
  }
  .contents-container {
    flex: 1.5;
  }
}

@media (max-width: 840px) {
  .sidebar-container {
    flex: 0;
    width: 300px;
    position: absolute;
    left: -300px;
  }
  .contents-container {
    flex: 2;
  }
}

@media (max-width: 767px) {
  .main-heading-container {
    padding: 80px 0px;
  }
  .features-container {
    padding: 50px 60px !important;
  }
  .carousel-block {
    min-height: 350px;
  }
}

@media (max-width: 580px) {
  .features-container {
    padding: 50px 40px !important;
  }
  .default-content-title {
    top: 15px;
  }
  .sign-in {
    width: 50px;
  }
}

@media (max-width: 389px) {
  .features-container {
    padding: 50px 50px;
  }
  .main-header .heading-title {
    font-size: 41px;
    transition: all 0.3s ease;
  }
  .carousel-block {
    min-height: 380px;
  }
  .default-content-title {
    top: 100px;
    font-size: 60px;
  }
}

@media (max-width: 328px) {
  .main-header .heading-title {
    font-size: 35px;
    transition: all 0.3s ease;
  }
  .main-header .homepage-header-btn {
    width: 100px;
  }
  .default-content-title {
    font-size: 50px;
  }
}
