/* Manage Student */
.manage-container {
  /* background-color: #333; */
  padding: 1px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 74vh;
  padding: 0px 10px 5px 10px;
}

.manage-item {
  /* background-color: #fff; */
  text-decoration: none;
  list-style-type: none;
  margin: 10px 0px 15px 0px;
  background-color: #f3f3f3;
  overflow: hidden;
  box-shadow: 0px 0px 5px #707070;
  cursor: pointer;
  transition: all 0.2s ease;
}
.manage-item:hover {
  box-shadow: 0px 0px 5px #707070, 0px 3px 5px #707070;
}

.manage-item .main-details {
  padding: 15px;
  display: flex;
  align-items: center;
}

.manage-item .more-details {
  padding: 0px;
  background-color: #dadada;
  transition: all 0.3s ease;
  height: 0px;
  overflow: hidden;
}

.manage-item .index {
  flex: 0.04;
  display: flex;
  align-items: center;
  justify-content: start;
}

.manage-item .enable-disable-btn {
  margin-right: 10px;
}
.manage-item .enable-disable-btn .btn {
  width: 70px;
}
.manage-item .delete-btn .btn {
  width: 70px;
}
.manage-item .username {
  flex: 1;
}

/* Admin Create Feedback Form */
.feedback-question {
  margin-bottom: 10px;
}

.options {
  margin-left: 40px;
}

.options input {
  margin-bottom: 5px;
}
